In [1]:
print(dir(str),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
# if str contains upper case it converts to lower case
d = 'PYTHON PROG'
d.casefold()

'python prog'

In [3]:
d.lower()

'python prog'

In [4]:
sp = 'hii pythonß'
print(sp.casefold())
print(sp.lower())

hii pythonss
hii pythonß

In [5]:
g = 'python'
g.count('p')

1

In [6]:
g.count('z')

0

In [7]:
g.encode()

b'python'

In [8]:
z = 'Aáeše'
z.encode()

b'A\xc3\xa1e\xc5\xa1e'

In [12]:
z.encode(encoding='ascii',errors='ignore')

b'Aee'

In [10]:
z.encode(encoding='ascii',errors='namereplace')

b'A\\N{LATIN SMALL LETTER A WITH ACUTE}e\\N{LATIN SMALL LETTER S WITH CARON}e'

In [13]:
g

'python'

In [14]:
g.endswith('n')

True

In [15]:
g.endswith('z')

False

In [16]:
g.startswith('p')

True

In [17]:
g.startswith('o')

False

In [18]:
r = 'Hii Iam \tPython'
r.expandtabs()

'Hii Iam         Python'

In [19]:
r.expandtabs(tabsize=2)

'Hii Iam   Python'

In [20]:
x = 'p\ty\t'
x.expandtabs()

'p       y       '

In [21]:
g

'python'

In [30]:
# returns the index position if chr is there
# else returns -1
g.find('t')

2

In [24]:
g.find('a')

-1

In [23]:
g.index('p')

0

In [25]:
g.index('a')

ValueError: substring not found

- isdecimal
    - only 0-9
- isdigit
    - numbers 0-9
    - superscript and sub script values
- isnumeric
    - numbers 0-9
    - currency
    - Numerators
    - scripts
    - Roman numbers

In [31]:
# 123½ 1234,²3455,一
num = '12345'
print(num.isdecimal())
print(num.isdigit())
print(num.isnumeric())

True
True
True

In [33]:
num1 = '123½'
print(num1.isdecimal())
print(num1.isdigit())
print(num1.isnumeric())

False
False
True

In [34]:
num2 = '²3455'
print(num2.isdecimal())
print(num2.isdigit())
print(num2.isnumeric())

False
True
True

In [35]:
num3 = '一'
print(num3.isdecimal())
print(num3.isdigit())
print(num3.isnumeric())

False
False
True

In [36]:
name = '_python123'
name.isidentifier()

True

In [37]:
name1 = '123abc'
name1.isidentifier()

False

In [38]:
h = 'abcd@123'
h.isprintable()

True

In [40]:
j = 'abcd@123 \n'
j.isprintable()

False

In [41]:
k = ' \n'
k.isprintable()

False

In [42]:
h.isspace()

False

In [43]:
j.isspace()

False

In [44]:
k.isspace()

True

In [45]:
k = 'Python'
k.isupper()

False

In [46]:
k

'Python'

In [53]:
'*'.join(k)

'P*y*t*h*o*n'

In [57]:
k.ljust(10,'#')

'Python####'

In [49]:
k.rjust(20,'#')

'##############Python'

In [50]:
l = 'hii welcome to python online class'
l.split()

['hii', 'welcome', 'to', 'python', 'online', 'class']

In [51]:
h = 'python@1234'
h.split('@')

['python', '1234']

In [60]:
h.partition('on')

('pyth', 'on', '@1234')

In [59]:
k = '           python          '
k.strip()

'python'

In [61]:
k.rstrip()

'           python'

In [64]:
l = 'python program python'
l.find('p')

0

In [65]:
l.rfind('p')

15

In [66]:
l.index('p')

0

In [67]:
l.rindex('p')

15

- Data structures
    - way of organising and storing data
    - Accessed and work effectively
- 4 types
    - list
    - tuple
    - dictionary
    - set

- List
    - collection of hetrogenous items
    - ordered,mutable(changable)
    - Allow dupicate elements
    - represented by square braces[]

In [68]:
# empty list
l = []
type(l)

list

In [69]:
li = [1,2,3,5]
li

[1, 2, 3, 5]

In [70]:
# multi list
li1 = [1,2,3,'a','b','c',45.8,99,9]
li1

[1, 2, 3, 'a', 'b', 'c', 45.8, 99, 9]

In [71]:
# dupliacte list
li2 = [1,2,3,1,2,3]
li2

[1, 2, 3, 1, 2, 3]

In [72]:
# builtin functions
l = [1,21,30,4,5,6,7,18,9]
print(len(l))
print(sum(l))
print(max(l))
print(min(l))
print(sorted(l))

9
101
30
1
[1, 4, 5, 6, 7, 9, 18, 21, 30]

In [73]:
l1 = [1,21,30,4,5,6,7,18,9,'a','n',45.6]
print(len(l1))
print(sum(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))

12

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
# Accessing elements
# indexing
li

[1, 2, 3, 5]

In [75]:
# positive index
li[0]

1

In [76]:
# Negative index
li[-1]

5

In [77]:
# slicing
li[0:3]

[1, 2, 3]

In [78]:
li[::-1]

[5, 3, 2, 1]

In [79]:
li1 = [1,2,3,4]
li2 = [5,6,7,8]
li1+li2

[1, 2, 3, 4, 5, 6, 7, 8]

In [81]:
li = [1,2,3,4,[5,6,7,8],10,11]
print(li[4])
print(li[4][0])

[5, 6, 7, 8]
5

In [82]:
li[4][2] = 'a'
li

[1, 2, 3, 4, [5, 6, 'a', 8], 10, 11]

In [83]:
print(dir(list),end= " ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [84]:
l = [23,7,0,1,'a']
l.append('z')
l

[23, 7, 0, 1, 'a', 'z']

In [87]:
# insert(indexposition,value)
l.insert(2,7.8)
l

[23, 7, 7.8, 7.8, 7.8, 0, 1, 'a', 'z']

In [88]:
l.count(7.8)

3

In [89]:
l.index(7.8)

2

In [90]:
l

[23, 7, 7.8, 7.8, 7.8, 0, 1, 'a', 'z']

In [92]:
l.remove(7.8)
l

[23, 7, 7.8, 7.8, 0, 1, 'a', 'z']

In [91]:
# based on value 
l2 = [23,8,9,5,'a','x']
l2.remove('a')
l2

[23, 8, 9, 5, 'x']

In [93]:
# pop() based on indexvalue
# by default removes last element
l2.pop()
l2

[23, 8, 9, 5]

In [94]:
# based on index position
l2.pop(0)
l2

[8, 9, 5]

In [97]:
l2.reverse()
l2

[5, 9, 8]

In [99]:
l = [1,2,3]
l2 = [4,5,6]
l.extend(l2)
print(l)
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [100]:
li = [4,5,6]
li.append(['z','o',99.0])
li

[4, 5, 6, ['z', 'o', 99.0]]

In [102]:
l = ['x','y','p','a','q','g']
print('original list: ',l)
l.sort()
print('ascending sorted list: ',l)
l.sort(reverse=True)
print('reverse sort: ',l)

original list:  ['x', 'y', 'p', 'a', 'q', 'g']
ascending sorted list:  ['a', 'g', 'p', 'q', 'x', 'y']
reverse sort:  ['y', 'x', 'q', 'p', 'g', 'a']

In [103]:
# Assignment
t = [7,34,2,56]
t1 = t
print(t)
print(t1)

[7, 34, 2, 56]
[7, 34, 2, 56]

In [104]:
t.append('s')
print(t)
print(t1)

[7, 34, 2, 56, 's']
[7, 34, 2, 56, 's']

In [105]:
# copy
t = [7,34,2,56]
t1 = t.copy()
print(t)
print(t1)

[7, 34, 2, 56]
[7, 34, 2, 56]

In [106]:
t.remove(2)
print(t)
print(t1)

[7, 34, 56]
[7, 34, 2, 56]

In [107]:
t1

[7, 34, 2, 56]

In [108]:
t1.clear()

In [109]:
t1

[]

In [110]:
del(t1)

In [111]:
t1

NameError: name 't1' is not defined

In [112]:
# Basic example
l = [1,2,3,4]
li = []
for i in l:
    li.append(i**2)
print(li)

[1, 4, 9, 16]

In [114]:
# Dynamic input
li = input().split()
type(li)

1 2 3 4 a b c

list

- Tasks
    - check string is palindrome or not
    - count number of alphabets,numbers,special chars in string
        - input - python@123
    - input - A P S S D C
        - output - Apssdc
    - Name task
        - input - Puvvula Ambika Sai
        - Output - P. Ambika Sai
    - print words which are not ends with vowels
        - input - Ambika python sky 
        - output - sky python
    - duplicates remove
        - input = [1,2,3,5,1,2,3]
        - output = [1,2,3,5]
    - unique elements
        - input = [1,2,3,5,1,2,3]
        - output = [5]
    - Digit frequency
         input - 123abcd045grty0
         - output - 0 -- 2
                     1 -- 1
                     2 -- 1
                     3 -- 1
                     4 -- 1
                     5 -- 1
                     6 -- 0
                     7 -- 0
                     8 -- 0
                     9 -- 0

- Tasks
    - Function to print reverse numbers of given range in same line
        - input - 1,10
        - output - 10,9,8,7,6,5,4,3,2,1
    - print odd numbers in reverse order
        - input - 123,130
        - output - 129,127,125,123
    - with in range(100,200) numbers which are divisible by 6 and not a factor of 100
    - prime number check
    - calculate average of prime numbers
    - with in range (1,10) average of cubes of even numbers
        - input - 1 10
        - even 2 4 6 8 10
        - cubes
        - avg of cubes

In [115]:
def reverserange(start,end):
    for value in range(end,start-1,-1):
        print(value,end=" ")
    return
start = int(input("enter start range: "))
end = int(input("enter end range: "))
reverserange(start,end)

enter start range: 1
enter end range: 10
10 9 8 7 6 5 4 3 2 1

In [116]:
def reverseodd(start,end):
    for i in range(end,start-1,-1):
        if i % 2 != 0:
            print(i,end=" ")
    return
start = int(input("enter start range: "))
end = int(input("enter end range: "))
reverseodd(start,end)

enter start range: 120
enter end range: 140
139 137 135 133 131 129 127 125 123 121

In [117]:
def divisible6(lb,ub):
    for i in range(lb,ub+1):
        if i % 6 == 0 and 100 % i != 0:
            print(i,end=" ")
    return
lb = int(input("enter start range: "))
ub = int(input("enter end range: "))
divisible6(lb,ub)

enter start range: 10
enter end range: 50
12 18 24 30 36 42 48

In [120]:
def isprime(n):
    count = 0
    for i in range(1,n+1):
        if n % i == 0:
            count += 1
    if count == 2:
        return True
    else:
        return False
n = int(input("Enter a number: "))
isprime(n)

Enter a number: 5

True

In [121]:
def primerange(lb,ub):
    for n in range(lb,ub+1):
        if isprime(n):
            print(n,end=" ")
    return
lb = int(input("enter start range: "))
ub = int(input("enter end range: "))
primerange(lb,ub)

enter start range: 1
enter end range: 30
2 3 5 7 11 13 17 19 23 29

In [122]:
def avgprimes(n):
    pc = 0
    sum = 0
    sc = 2
    while(pc < n):
        if isprime(sc):
            pc += 1
            sum += sc
        sc += 1
    return sum / n
avgprimes(100)

241.33

In [124]:
def avgcubesEven(lb,ub):
    sum = 0
    c = 0
    for i in range(lb,ub+1):
        if i %2 == 0:
            sum += i **3
            c += 1
    return sum / c
lb = int(input("enter start range: "))
ub = int(input("enter end range: "))
avgcubesEven(lb,ub)

enter start range: 1
enter end range: 10

360.0