In [1]:
# update method
s={23:56,12:45,"a":"work","b":"workshop"}
print(s)

{23: 56, 12: 45, 'a': 'work', 'b': 'workshop'}

In [2]:
# workshop---> python
s.update({"b":"python"})
print(s)

{23: 56, 12: 45, 'a': 'work', 'b': 'python'}

In [9]:
a={34:12,56:11,78:22,67:55,11:90}
b=a
print(a)
print(b)
a.update({56:34})
print(a)
print(b)

{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 34, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 34, 78: 22, 67: 55, 11: 90}

In [11]:
a={34:12,56:11,78:22,67:55,11:90}
b=a.copy()
print(a)
print(b)
a.update({67:46})
print(a)
print(b)

{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 11, 78: 22, 67: 46, 11: 90}
{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}

In [13]:
a={34:12,56:11,78:22,67:55,11:90}
b=a.copy()
print(a)
print(b)
b.update({11:565})
print(b)
print(a)

{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}
{34: 12, 56: 11, 78: 22, 67: 55, 11: 565}
{34: 12, 56: 11, 78: 22, 67: 55, 11: 90}

In [ ]:
# sets
set:   It is also one of the data Structure
       A set is a collection which is unordered and unindexed.
       Immutable in nature
    --> We can't change the values once we assigned
    --> In python sets are written with curly brackets
    
Advantage:   Set eliminates duplicate data elements

In [21]:
s={4,6,87,9,3,3,3,4,9}
s

{3, 4, 6, 9, 87}

In [22]:
type(s)

set

In [23]:
d={}
type(d)

dict

In [24]:
s1={34,67.2,"py","work",4}
print(s1)

{34, 4, 'py', 'work', 67.2}

In [25]:
s1[3]="apple"

TypeError: 'set' object does not support item assignment

In [30]:
d={3, 4, 6, 9, 87}
print(min(d))
print(max(d))
print(len(d))
print(sorted(d))
print(sum(d))

3
87
5
[3, 4, 6, 9, 87]
109

In [31]:
print(dir(set),end=' ')

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [32]:
d={3, 4, 6, 9, 87}
print(d)

{3, 4, 6, 9, 87}

In [33]:
d.add(90)

In [34]:
print(d)

{3, 4, 6, 9, 87, 90}

In [35]:
d.update([12,56,23,67,33])
print(d)

{33, 3, 4, 67, 6, 9, 12, 23, 87, 56, 90}

In [36]:
a={12,34,67,89}
b={12,56,78,89,33,77}
a.difference(b)

{34, 67}

In [37]:
b.difference(a)

{33, 56, 77, 78}

In [38]:
a={12,34,67,89}
b={12,56,78,89,33,77}
a.intersection(b)

{12, 89}

In [39]:
b.intersection(a)

{12, 89}

In [40]:
a={12,34,67,89}
b={12,56,78,89,33,77}
a.union(b)

{12, 33, 34, 56, 67, 77, 78, 89}

In [41]:
b.union(a)

{12, 33, 34, 56, 67, 77, 78, 89}

In [43]:
c={3,4,5,6,1}
c1=c.copy()
print(c1)
print(c)

{1, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [46]:
c={3,4,5,6,1}
c.pop()

1

In [47]:
print(c)

{3, 4, 5, 6}

In [48]:
c={3, 4, 5, 6}
c.pop()

3

In [49]:
c

{4, 5, 6}

In [ ]:
# The discard() method in python removes a specified element from the set
The remove() method raises an error when the specified element doesn't exist in the given set..
however the discard() method doesn't raise any error
if the specified element is not present in the set and the set remains unchanged.

In [50]:
x={"apple","banana","cherry"}
x.discard("banana")
x

{'apple', 'cherry'}

In [51]:
x

{'apple', 'cherry'}

In [52]:
x.remove("banana")

KeyError: 'banana'

In [53]:
x

{'apple', 'cherry'}

In [56]:
x.discard("banana")

In [57]:
x

{'apple', 'cherry'}

In [ ]:
# isdisjoint
# The isdisjoint() method returns True if name of the items are
   present in both sets,otherwise it returns False

In [58]:
x={"apple","banana","cherry"}
y={"microsoft","google","apple"}
z=x.isdisjoint(y)
print(z)

False

In [60]:
x={"apple","banana","cherry"}
y={"microsoft","google","facebook"}
z=x.isdisjoint(y)
print(z)

True

In [61]:
# symmetric_difference
# same elements remove and returns all the items in both sets
x={"apple","banana","cherry"}
y={"microsoft","google","apple"}
z=x.symmetric_difference(y)
print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
# packages and modules

In [ ]:
module: collection of functions
package: collection of modules

In [ ]:
module:  A python module can have a set of functions,classes or variables.
         A module is a file consisting of python code
         A module is nothing but .py file which contain functions....

In [ ]:
# enable you to organise your code into smaller parts(or) pieces that are easier to manage
  The code in the modules can be reloaded and return as many times as needed,
      which enables code reuse
--> Now we can use the module we just created,by using the import statement

In [ ]:
Types of modules
1.built in modules
2.user defined modules :

In [ ]:
1.built in modules............... Math functions(sqrt,ceil,floor,...........)

In [79]:
from math import floor,ceil,pi,e,pow
print(floor(23.56))
print(ceil(23.01))
#print(sqrt(25))
print(pi)
print(e)
print(pow(2,3))

23
24
3.141592653589793
2.718281828459045
8.0

In [77]:
print(sqrt(25))

5.0

In [78]:
print(pi)

3.141592653589793

In [ ]:
# user defined modules...

In [ ]:
variable in module
The module can contain functions,as already described.
but also variables of all types(arrays,dictionaries,objects,.........etc)

In [80]:
person1={"name":"john","age":45,"country":"India"}
person1

{'name': 'john', 'age': 45, 'country': 'India'}

In [82]:
import a
b=a.person1["age"]
print(b)

45

In [83]:
def evenorodd(n):
    if(n%2==0):
        print("even")
    else:
        print("odd")

In [84]:
evenorodd(4)

even

In [85]:
# palindrome
def palindrome(s):
    if(s[::-1]==s):
        print("palindrome")
    else:
        print("not palindorme")

In [86]:
palindrome("wow")

palindrome

In [87]:
import mymodule

In [88]:
evenorodd(8)

even

In [89]:
evenorodd(3)

odd

In [90]:
evenorodd(7)

odd

In [91]:
palindrome("level")

palindrome

In [92]:
palindrome("dad")

palindrome

In [93]:
palindrome("mom")

palindrome

In [94]:
palindrome("abcd")

not palindorme

In [95]:
d="abc"
d[::-1]

'cba'

In [97]:
# input: 10
# o/p: {1:1 2:4 3:9 4:16...............10:100}
n=int(input())
d={}
for x in range(1,n+1):
    d[x]=x*x       d[1]=1*1    d[2]=2*2  ............d[10]=10*10
print(d)

10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [98]:
# input: [1,2,3,5,9]
# o/p:   {1:2 2:9 3:28 5:126 9:730}
n=[1,2,3,5,9]
d={}
for x in n:     1 2 3 5 9         2                  3
    d[x]=x**3+1    d[1]=1*3+1=1  d[2]=2**3+1=9   d[3]=3**3+1=28  
print(d)

{1: 2, 2: 9, 3: 28, 5: 126, 9: 730}