- Data Types
    - Int
    - Float
    - String

In [1]:
a = 10
type(a)

int

In [2]:
f = 10.5
type(f)

float

In [3]:
s = 'python'
type(s)

str

- Input types
    - static input
        - ex: a = 10
    - dynamic input
        - ex: a = input("Enter number: ")

In [5]:
a = input("Enter a value: ")
print(a)
print(type(a))

Enter a value: 10
10
<class 'str'>

In [6]:
b = int(input("Enter a value: "))
print(b)
print(type(b))

Enter a value: 5
5
<class 'int'>

In [7]:
c = float(input("Enter a float value: "))
print(c)
print(type(c))

Enter a float value: 23.5
23.5
<class 'float'>

In [12]:
a = input()
b = input()
print(type(a))
c = int(a) + int(b)
print(c)
print(type(c))

10
10
<class 'str'>
20
<class 'int'>

- type conversions
    - convert one data type to another
    - 'abcd' -- int,float -- not possible
    - '10' -- int,float

In [17]:
num1 = input("Enter a number: ")
num2 = input("Enter a number: ")
add = float(num1) + float(num2)
add

Enter a number: 23.5
Enter a number: 34.6

58.1

In [3]:
a = 10.6
b = 70
c = a + b
print(c)
#print(type(c))

80.6

In [4]:
name = input("Enter course name: ")
branch = input("Enter your branch: ")
print(name+branch)

Enter course name: python
Enter your branh: All
pythonAll

In [5]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")
print(int(num1)+int(num2))

Enter num1: 10
Enter num2: 20
30

In [6]:
name = 'python'
b = 10
c = b + name
c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
name = input("enter a name: ")
num = input("Enter number: ")
c = name + num
c

enter a name: abc
Enter number: 20

'abc20'

- Operators(7 types)
    - Arithematic
    - Assignment
    - Comparision
    - Logical
    - Membership
    - Identity
    - Bitwise

In [9]:
# Arithematic operators
# +,-,*,/,//,%,**
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
add = num1+ num2
sub = num1 - num2
mul = num1 * num2
# gives float value output
div = num1 / num2
# floor division integer value out
fdiv = num1 // num2
# modulo returns the remainder
mod = num1 % num2
exp = num1** num2
print(add)
print(sub)
print(mul)
print(div)
print(fdiv)
print(mod)
print(exp)

Enter num1: 100
Enter num2: 30
130
70
3000
3.3333333333333335
3
10
1000000000000000000000000000000000000000000000000000000000000

In [13]:
a = 100
b = 30
c = a / b
d = a // b
print(c)
print(d)

3.3333333333333335
3

In [14]:
a = 2
b = 5
c = a ** b
c

32

In [19]:
# Assignment operator
# =,+=,-=,*=,/=,//=,**=
a = 10 
b = 5 
a += b  #a = a + b #a = 10 + 5 #a = 15
b += a  # b = b + a

In [20]:
print(a)
print(b)

15
20

- Boolean 
    - True or False
    - return True
        - string,number,list,tuple,dict
    - returns False
        - empty string,zero,empty list,tuple or dict,None,False

In [21]:
bool('abc')

True

In [22]:
bool([1,2,3])

True

In [23]:
bool(6)

True

In [24]:
bool(1)

True

In [25]:
bool(0)

False

In [26]:
bool('')

False

In [27]:
bool([])

False

In [28]:
bool(None)

False

In [29]:
bool(False)

False

In [31]:
# Logical Operaators
# And , or, Not
# used to combine and conditional statements
# And - returns true both are true else returns False
# Or -- returns True if any one is True
# Not -- reverse the result
a = 5
print(a > 2 and a < 10)
print(a > 2 or a < 10)
print(not(a > 2 and a < 10))

True
True
False

In [34]:
# Comparision operators 
# ==,>,<,>=,<=,!=
a = 2
b = 5
print(a==b)
print(a != b)
print(a >= b)
print(a <= b)
print(a > b)
print(a < b)

False
True
False
True
False
True

In [37]:
# Membership Operators(in,not in)
# used to test a sequence
name = 'python'
print('p' in name)
print('p' not in name)
print('z' not in name)

True
False
True

In [50]:
# Identity operators(is,is not)
# used to compare objects if they are equal
a = 'python'
b = 'python'
c = a
print(a is c)
print(a is b)
print(a == b)

True
True
True

In [46]:
# Bitwise operators(&,|,~,^,>>,<<)
# used to compare binary numbers
a = 2 #0010
b = 10 # 1010
#print(bin(a))
#print(bin(b))
c = a & b
print(c)
#print(type(c))
print(a | b)
print(a ^ b)
print(~a)
print(a << b)
print( a >> b)

2
10
8
-3
2048
0

In [ ]:
# And(&)        or(|)     Xor(^)
# 2 -- 0010     0010      0010
# 10 - 1010     1010      1010
--------------------------------
#      0010     1010      1000

# Xor
0 0 0
0 1 1
1 0 1
1 1  0
- left shift
- 10 << 2
# 32 16 8 4 2 1
# 1  0  1 0 0 0
101000.00
- 10 >> 2
- 1010
10.00

In [47]:
10 << 2

40

In [48]:
10 >> 2

2

In [49]:
~10(-(10+1))

-11

In [52]:
a = 20
~a

-21